<script type="text/javascript">
  $('#checkAll').click(function (event) {
    if (this.checked) {
      // Iterate each checkbox
      $(':checkbox').each(function () {
        this.checked = true;
      });
    }
    else {
      $(':checkbox').each(function () {
        this.checked = false;
      });
    }
  });
</script>
<div class="row">
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <a style="color: white" ui-sref="weChat.home">功能列表</a>\
        <a style="color: white" href="#">设置公众号类型</a></div>
      <div class="panel-body">
        <div class="row" style="margin-top: -12px">
          <div class="col-md-11 text-right">
            <legend>
              <h5 class="text-muted">
                <a ui-sref="weChat.config">设置机构公众号</a> | 设置公众号类型
              </h5>
            </legend>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th><input type="checkbox" name="checkAll" id="checkAll"></th>
            <th>类型</th>
            <th>别名</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="type in config.types">
            <td>
              <input type="checkbox" name="subBox[]"  class="checkbox">
            </td>
            <td> {{type.value}}</td>
            <td> {{type.name}}</td>
            <td>
              <div class="row-fluid">
                <a href="#">设置类型</a></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
