<div class="row">
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <a style="color: white" ui-sref="weChat.home">功能列表</a>\公众号菜单列表
      </div>
      <div class="panel-body">
        <div class="well">当前公众号是：【测试公众号】</div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th><input type="checkbox" name="checkAll" id="checkAll"></th>
            <th>菜单名</th>
            <th>响应类型</th>
            <th>响应值</th>
            <th>排序号</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="menu in menu.WeChatService.menuData">
            <td>
              <input type="checkbox" name="subBox[]" >
            </td>
            <td> {{menu.name}}</td>
            <td> {{menu.type}}</td>
            <td>{{menu.value}}</td>
            <td> {{menu.sort}}</td>
            <td>
              <div class="row-fluid">
                <a href="#">编辑</a>|
                <a href="#">删除</a></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div>
  <a class="btn btn-primary" ui-sref="weChat.addMenu">新增菜单</a>
  <a class="btn btn-success" href="#">生成微信自定义菜单</a>
</div>
