<div class="row">
    <div class="col-sm-12" style="margin-bottom: 20px;">
        <div class="rowTitle">
            <span style="display: inline-block;" class="animated flipInY">
                <img src="components/blyn/core/space/view/img/icon64_appwx_logo.png" class="img-rounded" width="50" height="50">
                &nbsp;
                设置关系
            </span>
        </div>
    </div>
</div>
<div class="dashboard row">
    <div class="col-sm-12">
        <!-- dashboard-header -->

        <!-- /dashboard-header -->
        <!-- dashboard-body -->
        <div class="dashboard-body">
            <div class="dashboard-title">
                <b>机构的关系</b>
                <span  style="float:right">
            <a ui-sref="pc.space.app.circle.adminCollab.addCollab">创建关系</a>
            <a ui-sref="pc.space.app.circle.adminCollab.join">创建关系</a>
          </span>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="collab in vm.collabs">
                    <div class="dashboard-space">
                        <div>
                            <a style="cursor: pointer" ui-sref="pc.space.app.circle.adminCollab.modifyCollab({collabId: collab._id})">
                                <i class="fa fa-windows"></i> {{collab.alias}}
                            </a>
                            <span style="float: right"><i class="fa fa-gear"></i> 
                                <a href="#" data-toggle='modal' data-target='#exitSapceModal' ng-click="">设置</a>
                            </span>
                        </div>
                        <div class="appBookmark">描述：{{collab.description}}</div>
                        <div class="appBookmark">执行角色：{{collab.parentRoles}}</div>
                        <div class="appBookmark">执行功能：</div>
                        <!-- <div style="min-height: 258px"> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /dashboard-body -->
    </div>
</div>