<div class="row">
    <div class="col-sm-12" style="margin-bottom: 20px;">
        <div class="rowTitle">
            <span style="display: inline-block;" class="animated flipInY">
                <img src="components/blyn/core/space/view/img/icon64_appwx_logo.png" class="img-rounded" width="50" height="50">
                &nbsp;
                管理圈子机构
            </span>
        </div>
    </div>
</div>
<div class="dashboard row">
    <div class="col-sm-12">
        <!-- dashboard-header -->

        <!-- /dashboard-header -->
        <!-- dashboard-body -->
        <div class="dashboard-body">
            <div class="dashboard-title">
                <b>机构圈机构</b>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="space in vm.circle.spaces">
                    <div class="dashboard-space">
                        <div>
                            <a style="cursor: pointer" ui-sref="pc.space.app.circle.manageCircle.spaces({spaceId: space._id})">
                                <i class="fa fa-windows"></i> {{space.alias}}
                            </a>
                        </div>
                        <div>
                            
                        </div>
                        <div class="appBookmark">
                            申请状态：{{space.CircleSpace.joinStatus}}
                            <span style="float: right">
                                <a href="#" data-toggle='modal' data-target='#exitSapceModal' ng-click="">批准</a> ｜ 
                                <a href="#" data-toggle='modal' data-target='#exitSapceModal' ng-click="">拒绝</a>
                            </span>
                        </div>

                        <div class="appBookmark" ng-repeat="(index, collab) in space.collabs">
                            <a class="appBookmark-show" ui-sref="pc.space.app.home({spaceId:space._id,appId:app._id})">
                                <div class="appBookmark-icon">
                                    <i class="fa fa-bookmark txt-info"> </i>
                                </div>
                            </a>
                            <div class="appBookmark-link">
                                {{collab.alias}}
                                <span style="float: right"><i class="fa fa-gear"></i> 
                                    <a href="#">批准</a> ｜ <a href="#">拒绝</a>
                                </span>
                            </div>
                        </div>

                        <!-- <div style="min-height: 258px"> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /dashboard-body -->
    </div>
</div>