<div class="row">
    <div class="col-sm-12" style="margin-bottom: 20px;">
        <div class="rowTitle">
            <span style="display: inline-block;" class="animated flipInY">
                <img src="components/blyn/core/space/view/img/icon64_appwx_logo.png" class="img-rounded" width="50" height="50">
                &nbsp;
                管理圈子机构
            </span>
        </div>
    </div>
</div>
<div class="dashboard row">
    <div class="col-sm-12">
        <!-- dashboard-header -->

        <!-- /dashboard-header -->
        <!-- dashboard-body -->
        <div class="dashboard-body">
            <div class="dashboard-title">
                <b>机构圈机构</b>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="dashboard-space">
                        <div>
                            <a style="cursor: pointer" ui-sref="pc.space.app.circle.manageCircle.spaces({spaceId: space._id})">
                                <i class="fa fa-windows"></i> 本机构（{{vm.current.space.alias}}）
                            </a>
                            <span class="pull-right">
                                <a href="#" ng-click="vm.addCircleCollab(collab)"><i class="fa fa-plus"></i> 新增协作</a>
                            </span>
                        </div>

                        <div class="appBookmark" ng-repeat="(index, collab) in vm.current.space.collabs">
                            <div class="appBookmark-link" style="margin-left:10px; padding-bottom:10px">
                                <div>
                                    {{collab.alias}}
                                    <span style="float: right">
                                        {{collab.CircleCollab? collab.CircleCollab.joinStatus: '未分享'}}
                                    </span>
                                </div>
                                <div style="padding-top:10px" class="pull-right">                                     
                                    <a href="#" ng-click="vm.approveShareCollab(collab)"><i class="fa fa-check"></i>分享功能</a> |   
                                    <a href="#" ng-click="vm.rejectShareCollab(collab)"><i class="fa fa-times"></i>退出分享</a>
                                </div>
                            </div>
                        </div>

                        <!-- <div style="min-height: 258px"> -->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="space in vm.circle.spaces">
                    <div class="dashboard-space">
                        <div>
                            <a style="cursor: pointer" ui-sref="pc.space.app.circle.manageCircle.spaces({spaceId: space._id})">
                                <i class="fa fa-windows"></i> {{space.alias}}
                            </a>
                        </div>
                        <div>
                            
                        </div>
                        <div class="appBookmark">
                            <div>
                            关注状态：{{space.CircleSpace.joinStatus}}    
                            </div>
                            <div class="pull-right">
                                <a href="#" ng-click="vm.approveJoinCircle(space)">批准</a> ｜ 
                                <a href="#" ng-click="vm.rejectJoinCircle(space)">拒绝</a>
                            </div>                     
                        </div>

                        <div class="appBookmark" ng-repeat="(index, collab) in space.collabs">
                            <div class="appBookmark-link" style="margin-left:10px; padding-bottom:10px">
                                <div>
                                    {{collab.alias}}
                                    <span style="float: right">
                                        {{collab.CircleCollab.joinStatus}}
                                    </span>
                                </div>
                                <div style="padding-top:10px; float: right">
                                    <a href="#" ng-click="vm.approveShareCollab(collab)"><i class="fa fa-check"></i>批准</a> ｜  <a href="#" ng-click="vm.rejectShareCollab(collab)"><i class="fa fa-times"></i>拒绝</a>
                                </div>

                            </div>
                        </div>

                        <!-- <div style="min-height: 258px"> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /dashboard-body -->
    </div>
</div>