<div class="row">
    <div class="col-sm-12" style="margin-bottom: 20px;">
        <div class="rowTitle">
            <span style="display: inline-block;" class="animated flipInY">
                <img src="components/blyn/core/space/view/img/icon64_appwx_logo.png" class="img-rounded" width="50" height="50">
                &nbsp;
                管理圈子机构
            </span>
        </div>
    </div>
</div>
<div class="dashboard row">
    <div class="col-sm-12">
        <!-- dashboard-header -->

        <!-- /dashboard-header -->
        <!-- dashboard-body -->
        <div class="dashboard-body">
            <div class="dashboard-title">
                <b>机构圈机构---当前机构圈：{{vm.circle.alias}}</b>
            </div>

            <div class="row">
                <!-- 显示本机构-->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="dashboard-space">
                        <div>
                            <a style="cursor: pointer" ui-sref="pc.space.app.circle.manageCircle.spaces({spaceId: space._id})">
                                <i class="fa fa-windows"></i> 本机构（{{vm.current.space.alias}}）
                            </a>
                        </div>
                        <div class="appBookmark">
                            <div><a href="#" ng-click="vm.addCircleCollab(collab)"><i class="fa fa-plus"></i> 创建协作</a></div>
                        </div>
                        <div class="appBookmark">
                            <div>
                                <a href="#" ng-click="vm.toggleShowList('currentSpace')"><i class="fa fa-wrench"></i> 管理分享的协作</a>
                            </div>
                            <div ng-show="vm.showList['currentSpace']" ng-repeat="(index, collab) in vm.current.space.collabs">
                                <div style="margin-top:10px;padding-right:10px;padding-left:10px">
                                    {{collab.alias}}
                                    <div class="pull-right">
                                        <a href="#" ng-click="vm.approveShareCollab(collab)"></i>分享</a> |
                                        <a href="#" ng-click="vm.rejectShareCollab(collab)"></i>退出</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div style="min-height: 258px"> -->
                    </div>
                </div>
                <!-- 完成显示本机构-->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="space in vm.circle.spaces">
                    <div class="dashboard-space">
                        <div>
                            <a style="cursor: pointer" ui-sref="pc.space.app.circle.manageCircle.spaces({spaceId: space._id})">
                                <i class="fa fa-windows"></i> {{space.alias}}
                            </a>
                        </div>

                        <div class="appBookmark">
                            <div>
                                <a href="#" ng-click="vm.toggleShowList('space'+space._id+'_m')"><i class="fa fa-wrench"></i> 机构的协作</a>
                            </div>
                            <div style="margin-top:10px;padding-right:10px;padding-left:10px;" ng-show="vm.showList['space'+space._id+'_m']">
                                <div ng-repeat="(index, collab) in space.collabs">
                                    <a href="#" ng-click="vm.approveShareCollab(collab)">{{collab.alias}}</a>
                                </div>
                            </div>
                        </div>

                        <!-- <div style="min-height: 258px"> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /dashboard-body -->
    </div>
</div>