<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group btn-group-sm" role="group">
          <a class="btn btn-default" ng-class="{active:appStore.tab=='add'}" ui-sref="pc.space.appStore.add" ng-click="appStore.tab='add'">添加应用</a>
          <a class="btn btn-default" ng-class="{active:appStore.tab=='delete'}" ui-sref="pc.space.appStore.delete" ng-click="appStore.tab='delete'">卸载应用</a>
        </div>
      </div>
      <div class="panel-body">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>