<div class="row">
    <div class="col-sm-12" style="margin-bottom: 20px;">
        <div class="rowTitle">
            <span style="display: inline-block;" class="animated flipInY">
                <img src="components/blyn/core/space/view/img/icon64_appwx_logo.png" class="img-rounded" width="50" height="50">
                &nbsp;
                {{vm.nut.name}}
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4" ng-repeat="permit in vm.nut.permits track by $index" style="margin-bottom: 20px;">
                <div class="functionSection">
                    <div class="functionSection-content">
                        <div class="functionSection-head">
                            <div class="functionSection-icon">
                                <span class="fa fa-gear"></span>
                            </div>
                        </div>
                        <div class="functionSection-body">
                            <div class="functionSection-body-content">
                                <div class="functionSection-top">
                                    <a class="functionSection-title" ui-sref="{{vm.getStateByPermit(permit.name)}}.home">{{permit.name}}</a>
                                </div>
                                <div class="functionSection-middle">
                                    功能类型，机构管理，所属角色，系统管理员
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>