<dl class="list">
    <dl class="list list-in">
    	<dd>
    		<dl>
				<dd>
					<a class="react">
						<div class="more more-weak">
        					<i class="text-icon order-card order-icon">□</i>50元生日代金券
    					</div>
    				</a>
    			</dd>
				<dd>
					<a class="react">
						<div class="more more-weak">
        					<i class="text-icon order-card order-icon">□</i>10元折扣券
    					</div>
    				</a>
    			</dd>
				<dd>
					<a class="react">
						<div class="more more-weak">
        					<i class="text-icon order-card order-icon">□</i>20元普通代金券
    					</div>
    				</a>
    			</dd>
            </dl>
        </dd>
    </dl>
</dl>