<navbar></navbar>
<!--Start Container-->
<div id="main" class="container-fluid">
  <div class="row">
    <div id="sidebar-left" class="col-xs-2 col-sm-2">
      <ul class="nav main-menu">
        <li>
          <a ui-sref="pc.dashboard" class="active ajax-link">
            <i class="fa fa-dashboard"></i>
            <span class="hidden-xs">机构书签</span>
          </a>
        </li>
        <li class="dropdown" ng-repeat="space in layout.spaces">
          <a href="#" class="dropdown-toggle">
            <i class="fa fa-suitcase"></i>
            <span class="hidden-xs">{{space.alias}}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="ajax-link" ui-sref="pc.space.home({spaceId: space._id})">机构主页</a></li>
            <li><a class="ajax-link" ui-sref="pc.space.app.collab.collabNuts({spaceId: space._id, appId: space.appEngine._id, nutId: space.appEngine.collabNut._id})">互联功能</a></li>
            <li ng-repeat="app in space.apps">
              <a class="ajax-link" ui-sref="pc.space.app.home({spaceId: space._id, appId: app._id})">{{app.alias}}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">
            <i class="fa fa-list"></i>
            <span class="hidden-xs">多级菜单</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">First level menu</a></li>
            <li><a href="#">First level menu</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">
                <i class="fa fa-plus-square"></i>
                <span class="hidden-xs">Second level menu group</span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Second level menu</a></li>
                <li><a href="#">Second level menu</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle">
                    <i class="fa fa-plus-square"></i>
                    <span class="hidden-xs">Three level menu group</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Three level menu</a></li>
                    <li><a href="#">Three level menu</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle">
                        <i class="fa fa-plus-square"></i>
                        <span class="hidden-xs">Four level menu group</span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Four level menu</a></li>
                        <li><a href="#">Four level menu</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle">
                            <i class="fa fa-plus-square"></i>
                            <span class="hidden-xs">Five level menu group</span>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Five level menu</a></li>
                            <li><a href="#">Five level menu</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle">
                                <i class="fa fa-plus-square"></i>
                                <span class="hidden-xs">Six level menu group</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Six level menu</a></li>
                                <li><a href="#">Six level menu</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Three level menu</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--Start Content-->
    <div id="content" class="col-xs-12 col-sm-10">
      <div id="ajax-content">
        <div class="row">
          <div id="breadcrumb" class="col-md-12">
            <div ncy-breadcrumb></div>
            <!--<ol class="breadcrumb">-->
              <!--<li ng-repeat="breadcrumb in breadcrumbs">-->
                <!--<a ui-sref="{{breadcrumb.state}}" ng-bind="breadcrumb.text"></a>-->
              <!--</li>-->
            <!--</ol>-->
          </div>
        </div>
        <div ui-view></div>
      </div>
    </div>
    <!--End Content-->
  </div>
</div>
<!--End Container-->
<footer></footer>

<script>
  function MessagesMenuWidth() {
    var W = window.innerWidth;
    var W_menu = $('#sidebar-left').outerWidth();
    var w_messages = (W - W_menu) * 16.666666666666664 / 100;
    $('#messages-menu').width(w_messages);
  }
  $(document).ready(function () {
    $('.show-sidebar').on('click', function (e) {
      e.preventDefault();
      $('div#main').toggleClass('sidebar-show');
      setTimeout(MessagesMenuWidth, 250);
    });
    //LoadAjaxContent(ajax_url);
    $('.main-menu').on('click', 'a', function (e) {
      var parents = $(this).parents('li');
      var li = $(this).closest('li.dropdown');
      var another_items = $('.main-menu li').not(parents);
      another_items.find('a').removeClass('active');
      another_items.find('a').removeClass('active-parent');
      if ($(this).hasClass('dropdown-toggle') || $(this).closest('li').find('ul').length == 0) {
        $(this).addClass('active-parent');
        var current = $(this).next();
        if (current.is(':visible')) {
          li.find("ul.dropdown-menu").slideUp('fast');
          li.find("ul.dropdown-menu a").removeClass('active')
        }
        else {
          another_items.find("ul.dropdown-menu").slideUp('fast');
          current.slideDown('fast');
        }
      }
      else {
        if (li.find('a.dropdown-toggle').hasClass('active-parent')) {
          var pre = $(this).closest('ul.dropdown-menu');
          pre.find("li.dropdown").not($(this).closest('li')).find('ul.dropdown-menu').slideUp('fast');
        }
      }
      if ($(this).hasClass('active') == false) {
        $(this).parents("ul.dropdown-menu").find('a').removeClass('active');
        $(this).addClass('active')
      }
      if ($(this).hasClass('ajax-link')) {
        e.preventDefault();
        if ($(this).hasClass('add-full')) {
          $('#content').addClass('full-content');
        }
        else {
          $('#content').removeClass('full-content');
        }
        var url = $(this).attr('href');
        window.location.hash = url;
        //LoadAjaxContent(url);
      }
      if ($(this).attr('href') == '#') {
        e.preventDefault();
      }
    });
    var height = window.innerHeight - 49;
    $('#main').css('min-height', height)
      .on('click', '.expand-link', function (e) {
        var body = $('body');
        e.preventDefault();
        var box = $(this).closest('div.box');
        var button = $(this).find('i');
        button.toggleClass('fa-expand').toggleClass('fa-compress');
        box.toggleClass('expanded');
        body.toggleClass('body-expanded');
        var timeout = 0;
        if (body.hasClass('body-expanded')) {
          timeout = 100;
        }
        setTimeout(function () {
          box.toggleClass('expanded-padding');
        }, timeout);
        setTimeout(function () {
          box.resize();
          box.find('[id^=map-]').resize();
        }, timeout + 50);
      })
      .on('click', '.collapse-link', function (e) {
        e.preventDefault();
        var box = $(this).closest('div.box');
        var button = $(this).find('i');
        var content = box.find('div.box-content');
        content.slideToggle('fast');
        button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
        setTimeout(function () {
          box.resize();
          box.find('[id^=map-]').resize();
        }, 50);
      })
      .on('click', '.close-link', function (e) {
        e.preventDefault();
        var content = $(this).closest('div.box');
        content.remove();
      });
    $('body').on('click', 'a.close-link', function (e) {
      e.preventDefault();
      CloseModalBox();
    });
  });
</script>
