<div class="panel panel-default">
  <div class="panel-heading">创建机构</div>
  <div class="panel-body">
    <form novalidate name="form" ng-submit="vm.createSpace(form)">
      <div class="form-group">
        <label>定义机构ID:</label>
        <input ng-model="vm.space.name" name="spaceName" placeholder="输入ID..." class="form-control" required style="min-height:30px" type="text">
        <div ng-show="form.spaceName.$dirty && form.spaceName.$invalid">
          <span style="color: red;"><b>请定义机构ID</b></span>
        </div>
      </div>
      <div class="form-group">
        <label> 定义机构名称:</label>
        <input ng-model="vm.space.alias" name="spaceAlias" placeholder="输入名称..." class="form-control" required style="min-height:30px" type="text">
        <div ng-show="form.spaceAlias.$dirty && form.spaceAlias.$invalid">
          <span style="color: red;"> <b>请定义机构名称</b></span>
        </div>
      </div>
      <div class="form-group">
        <label> 选择机构分类 :</label>
        <select ng-model="vm.space.type" name="spaceType" class="form-control" ng-options="spaceType.name as spaceType.alias for spaceType in vm.spaceTypes" required>
          <!--<option value="">请选择机构分类</option>-->
        </select>
        <div ng-show="form.spaceType.$dirty && form.spaceType.$invalid">
          <span style=" color: red;"> <b>请选择机构分类</b></span>
        </div>
      </div>
      <!--<div class="form-group">-->
        <!--<label> 选择数据云 :</label>-->
        <!--<select-->
          <!--ng-options="spaceDb.id as spaceDb.alias for spaceDb in vm.spaceDbs"-->
          <!--ng-model="space.db" name="spaceDb" class="form-control" required>-->
          <!--<option value="">请选择数据云</option>-->
        <!--</select>-->
        <!--<div ng-show="form.spaceDb.$dirty && form.spaceDb.$invalid">-->
          <!--<span style=" color: red;"> <b>请选择数据云</b></span>-->
        <!--</div>-->
      <!--</div>-->
      <div class="form-group">
        <button class="btn btn-primary" ng-disabled="form.$invalid || vm.creating" type="submit">
          <bil-waitword waiting="创建中" active="vm.creating">创建</bil-waitword>
        </button>
        <button class="btn btn-default" type="reset">重置</button>
      </div>
    </form>
  </div>
</div>


